@import "tailwindcss";


@theme {
  --breakpoint-xs: 20rem;

}

:root {
  /* --background: #f4f4f4; */
  --background: rgb(245, 245, 245);
  --foreground: #171717;
  --text-small: 0.8rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-funnel-sans);
  /* --font-mono: var(--font-geist-mono); */

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  color: #35373a;
  font-size: 0.9rem;
  font-family: var(--font-geist-sans);
}


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {

  .wrapper {
    @apply w-[90%] mx-auto max-w-7xl;
  }

  .text-sml {
    @apply text-[0.8rem]
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .center {
    @apply flex items-center justify-center gap-1
  }

  .panel {
    @apply bg-white h-full max-h-[500px] p-8 rounded-2xl w-full overflow-scroll no-scrollbar
  }

  .context-panel {
    @apply gray p-3 rounded-2xl
  }

  .dark {
    background-color: rgb(13, 13, 13)
  }

  .gray {
    @apply bg-[#F5F4F2]
    /* @apply bg-zinc-100 */
    /* @apply bg-gray-100 */
  }

  .input {
    @apply w-full bg-[#F5F4F2] px-3 py-3 font-medium rounded-md focus:outline-none text-neutral-800;
    font-size: var(--text-small);
  }

  .input-error {
    @apply text-red-500 text-xs font-semibold h-4
  }

}

@utility gray {
  @apply bg-[#F5F4F2]
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* @layer utilities {
  .text-sml {
    @apply text-[0.85rem]
  }
} */