@import "tailwindcss";

:root {
  /* --background: #f4f4f4; */
  --background: rgb(245, 245, 245);
  --foreground: #171717;
  --text-smlall: 0.8rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-funnel-sans);
  /* --font-mono: var(--font-geist-mono); */

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  color: #35373a;
  font-size: 0.9rem;
  font-family: var(--font-geist-sans);
}


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {

  .wrapper {
    @apply w-[90%] mx-auto
  }

  .text-sml {
    @apply text-[0.8rem]
  }

  .center {
    @apply flex items-center justify-center gap-1
  }

  .c-container {
    @apply w-full bg-white p-5 mx-auto rounded-lg
  }

  .input {
    @apply w-full bg-slate-100 p-2 font-medium rounded-md focus:outline-none;
    font-size: var(--text-smlall);
  }

  .input-error {
    @apply text-red-500 text-xs font-semibold h-4
  }

  .gray {
    @apply bg-[#F5F4F2]
    /* @apply bg-[#E8E7E5] */
    /* @apply bg-gray-100 */
  }

}

/* @layer utilities {
  .text-sml {
    @apply text-[0.85rem]
  }
} */